 

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 20px;
    text-align: center ;
    background-color: gray;
    color : rgb(0, 0, 0);
}
        
 header {
            background: #333;
            padding: 50px 0;
            text-align: center;
            border-bottom: 5px;
        }

.navbar {

    background-color: #333; /* Un fondo oscuro */
    overflow: hidden; /* Para asegurarnos de que no haya desbordamientos */
    position: sticky; /* Hace que la barra de navegación sea pegajosa */
    top: 5px;
    display: flex; /* Alinea los elementos en una fila */
    justify-content: space-around; /* Espacia uniformemente los elementos */
    padding: 1em; /* Espacio alrededor de los elementos */
    border-radius: 10px; /* Bordes redondeados para un diseño más suave */
    z-index: 1000;          /* Asegura que esté por encima de otros elementos */

}

.navbar a {

    color: white; /* Enlaces en blanco para que resalten */
    text-decoration: none; /* Quitar el subrayado */
    padding: 0.5em 1em; /* Espacio alrededor de los enlaces */
    

}

.navbar a:hover {

  background-color: #575757; /* Efecto hover para resaltar los enlaces */

  border-radius: 5px; /* Bordes redondeados en el hover */

  transition: 0.3s; /* Suavizar la transición del hover */

}



h1 {
    color: rgb(51, 51, 51);
    padding: 20px;
    position: center ;
    }

h2 {
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    position: center ;

}

p {
    color: rgb(6, 6, 6); 
    padding: 10px;
    position: center ;

}

.primeraclase {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

.imagen1 {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 50px;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.flex-container {

    display: flex;
    flex-direction: column;
    flex-shrink: 3;
    justify-content: space-around;
    justify-items: center;
    gap: 20px;
    margin-top: 50px;
    background-color: rgb(6, 6, 6);
    border-radius: 35px;
}

.flex-container2 {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    margin: 20px;
    background-color: rgb(6, 6, 6);
    border-radius: 35px;
}

.flex-container3 {
    display: flex;              /* Activa Flexbox */
    justify-content: space-around; /* Espacio entre columnas */
    align-items: center;    /* Alinea las columnas al inicio */
    flex-wrap: wrap; 
    padding: 50px;
    gap: 20px;
    margin: 20px;
    border-radius: 35px;

}
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 5px;
    margin: 20px;
    background-color: rgb(64, 60, 60);
    border-radius: 15px;
         
}

.fondocolumna {
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 25px;
    margin-top: 5px;
    margin: 10px;
}

.item1{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}

.item2 {
    flex-shrink: 2;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}

.imgmodelo {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

footer {
    margin-top: 20px ;
    text-align: center;
    color: rgb(0, 0, 0);
}

