 

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 20px;
    text-align: center ;
    background-color: gray;
    color : rgb(0, 0, 0);
}
        
 header {
            background: #333;
            padding: 50px 0;
            text-align: center;
            border-bottom: 5px;
        }

.navbar {

    background-color: #333; /* Un fondo oscuro */
    overflow: hidden; /* Para asegurarnos de que no haya desbordamientos */
    position: sticky; /* Hace que la barra de navegación sea pegajosa */
    top: 5px;
    display: flex; /* Alinea los elementos en una fila */
    justify-content: space-around; /* Espacia uniformemente los elementos */
    padding: 1em; /* Espacio alrededor de los elementos */
    border-radius: 10px; /* Bordes redondeados para un diseño más suave */
    z-index: 1000;          /* Asegura que esté por encima de otros elementos */

}

.navbar a {

    color: white; /* Enlaces en blanco para que resalten */
    text-decoration: none; /* Quitar el subrayado */
    padding: 0.5em 1em; /* Espacio alrededor de los enlaces */
    

}

.navbar a:hover {

  background-color: #575757; /* Efecto hover para resaltar los enlaces */

  border-radius: 5px; /* Bordes redondeados en el hover */

  transition: 0.3s; /* Suavizar la transición del hover */

}



h1 {
    color: rgb(51, 51, 51);
    padding: 20px;
    position: center ;
    }

h2 {
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    position: center ;

}

p {
    color: rgb(6, 6, 6); 
    padding: 10px;
    position: center ;

}

.primeraclase {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

.imagen1 {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 50px;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.flex-container {

    display: flex;
    flex-direction: column;
    flex-shrink: 3;
    justify-content: space-around;
    justify-items: center;
    gap: 20px;
    margin-top: 50px;
    background-color: rgb(6, 6, 6);
    border-radius: 35px;
}

.flex-container2 {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    margin: 20px;
    background-color: rgb(6, 6, 6);
    border-radius: 35px;
}

.flex-container3 {
    display: flex;              /* Activa Flexbox */
    justify-content: space-around; /* Espacio entre columnas */
    align-items: center;    /* Alinea las columnas al inicio */
    flex-wrap: wrap; 
    padding: 50px;
    gap: 20px;
    margin: 20px;
    border-radius: 35px;

}
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 5px;
    margin: 20px;
    background-color: rgb(64, 60, 60);
    border-radius: 15px;
         
}

.fondocolumna {
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 25px;
    margin-top: 5px;
    margin: 10px;
}

.item1{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}

.item2 {
    flex-shrink: 2;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}

.imgmodelo {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.main-footer {
  background-color: #0a0a0a;
  color: #ffffff;
  padding: 10px 8%;
  border-radius: 10px;
}

/* --- SECCIÓN SUPERIOR --- */
.footer-top {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 40px;
}

.footer-col {
  flex: 1; /* Todas las columnas crecen igual */
  min-width: 250px;
}

.footer-col h3 {
  color: #7e7b7b;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.footer-col p {
  line-height: 1.6;
  color: #ccc;
  font-size: 0.9rem;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.9rem;
}

/* Newsletter */
.LEONS-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.LEONS-form input {
  padding: 12px;
  border-radius: 4px;
  border: none;
}

.LEONS-form button {
  background-color: #545353;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

/* --- SECCIÓN INFERIOR --- */
.footer-divider {
  border: 0;
  border-top: 1px solid #222;
  border-radius: 5px;
  margin: 25px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.contact-item .icon {
  font-size: 1.5rem;
}

.contact-item p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}




/* Media Query para pantallas de 1024px o menores */
@media (max-width: 1024px) {
    
        
    /* 1. Ajustes de Base */
    body {
        margin: 5px; /* Reducimos margen externo al mínimo */
        font-size: 14px; /* Bajamos un poco la fuente general */
        position: center;
    }

    header {
        padding: 20px 0; /* Header mucho más delgado */
    }

    /* 2. Navegación (Navbar) */
        .navbar {

            background-color: #333; /* Un fondo oscuro */
            overflow: hidden; /* Para asegurarnos de que no haya desbordamientos */
            position: sticky; /* Hace que la barra de navegación sea pegajosa */
            top: 5px;
            display: flex; /* Alinea los elementos en una fila */
            justify-content: space-around; /* Espacia uniformemente los elementos */
            padding: 1em; /* Espacio alrededor de los elementos */
            border-radius: 10px; /* Bordes redondeados para un diseño más suave */
            z-index: 1000;          /* Asegura que esté por encima de otros elementos */

        }

        .navbar a {

            color: white; /* Enlaces en blanco para que resalten */
            text-decoration: none; /* Quitar el subrayado */
            padding: 0.5em 1em; /* Espacio alrededor de los enlaces */
            

        }
        /* 3. Contenedores Flex (Forzar columna única) */
        
        
        
        .primeraclase {
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 5px;
        }
        .flex-container{
            
            display: flex;
            justify-content: space-around;
            justify-items: center;
            background-color: rgb(6, 6, 6);
            border-radius: 35px;
            margin: 3;
        }

        .flex-container2{
            
            display: flex;
            justify-content: space-around;
            justify-items: center;
            background-color: rgb(6, 6, 6);
            border-radius: 35px;

        }
        .flex-container3 {
            
            display: flex;              /* Activa Flexbox */
            justify-content: space-around; /* Espacio entre columnas */
            align-items: center;    /* Alinea las columnas al inicio */  
            padding: 10px;
            gap: 2px;
            border-radius: 35px;
        }
    
        .columna{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 10px;
            margin-top: 5px;
            margin: 10px;
            background-color: rgb(64, 60, 60);
            border-radius: 15px;
        }
        .fondocolumna {

            background-color: rgb(0, 0, 0);
            border-radius: 15px;
            padding: 5px;
            margin-top: 5px;

        }

        /* 5. Imágenes y Títulos */
        .imagen1
        {
            width: 80%; /* Que ocupe todo el ancho del contenedor */
            height: auto; /* Mantener proporción */
        } 

        .imgmodelo {
            width: 250px;
            height: 270px;
        }
        .item1{
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
    
        }
        .item2 {
            
            background-color: rgb(255, 255, 255);
            padding: 2px;
            border-radius: 5px;
            }

        

        h2 {
            font-size: 70%;
        }
        p{
            font-size: 70%;
        }

        /* 6. Newsletter en Móvil */
    }


/* Ajuste específico para la altura (740px) 
   Si el contenido es muy alto, evitamos que el sticky tape todo */
@media (max-width: 800px) {
            
/* 1. Ajustes de Base */
    body {
        margin: 5px; /* Reducimos margen externo al mínimo */
        font-size: 14px; /* Bajamos un poco la fuente general */
        position: center;
    }

    header {
        padding: 20px 0; /* Header mucho más delgado */
    }

    /* 2. Navegación (Navbar) */
        .navbar {
            flex-direction: column; /* Links uno debajo del otro */
            align-items: center;
            gap: 5px;
            padding: 0.5em;
            position: static; /* En 704px de alto, el sticky quita mucho espacio */
        }

        .navbar a {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0.3em;
            width: 100%; /* Botones de ancho completo para facilitar el clic */
        }

        .flex-container{
            
            display: flex;
            justify-content: space-around;
            justify-items: center;
            background-color: rgb(6, 6, 6);
            border-radius: 35px;
            margin: 3;
        }
        .flex-container2{
            
            display: flex;
            justify-content: space-between;
            justify-items: center;
            background-color: rgb(6, 6, 6);
            border-radius: 35px;

        }
        .flex-container3 {
            
            display: flex;              /* Activa Flexbox */
            justify-content: space-around; /* Espacio entre columnas */
            align-items: center;    /* Alinea las columnas al inicio */  
            padding: 10px;
            gap: 2px;
            border-radius: 35px;
        }
    
        .columna{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 5px;
            margin-top: 5px;
            margin: 10px;
            background-color: rgb(64, 60, 60);
            border-radius: 15px;
        }
        .fondocolumna {

            background-color: rgb(0, 0, 0);
            border-radius: 15px;
            padding: 5px;
            margin-top: 5px;

        }

        /* 5. Imágenes y Títulos */
        .imagen1
        {
            width: 80%; /* Que ocupe todo el ancho del contenedor */
            height: auto; /* Mantener proporción */
        } 

        .imgmodelo {
            width: 200px;
            height: 220px;
        }
        .item1{
            background-color: rgb(255, 255, 255);
            padding: 15px;
            border-radius: 15px;
    
        }
        .item2 {
            
            background-color: rgb(255, 255, 255);
            padding: 2px;
            border-radius: 5px;
            }

       
        }

        h2 {
            font-size: 120%;
        }
        p{
            font-size: 70%;
        }
    
    
        .main-footer {
        background-color: #0a0a0a;
        color: #ffffff;
        padding: 50px 8%;
        border-radius: 10px;
        }

        /* --- SECCIÓN SUPERIOR --- */
        .footer-top {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        gap: 40px;
        }

        .footer-col {
        flex: 1; /* Todas las columnas crecen igual */
        min-width: 150px;
        }

        .footer-col h3 {
        color: #7e7b7b;
        margin-bottom: 20px;
        font-size: 1.2rem;
        }

        .footer-col p {
        line-height: 1.6;
        color: #ccc;
        font-size: 0.9rem;
        }

        .footer-col ul {
        list-style: none;
        padding: 0;
        }

        .footer-col ul li {
        margin-bottom: 10px;
        }

        .footer-col ul li a {
        color: #ccc;
        text-decoration: none;
        font-size: 0.9rem;
        }

        /* Newsletter */
        .LEONS-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        }

        .LEONS-form input {
        padding: 12px;
        border-radius: 4px;
        border: none;
        }

        .LEONS-form button {
        background-color: #545353;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        }

        .social-icons {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        justify-content: center;
        }

        /* --- SECCIÓN INFERIOR --- */
        .footer-divider {
        border: 0;
        border-top: 1px solid #222;
        border-radius: 5px;
        margin: 25px 0;
        }

        .footer-bottom {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        }

        .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        }

        .contact-item .icon {
        font-size: 1.5rem;
        }

        .contact-item p {
        margin: 0;
        font-size: 0.9rem;
        color: #ccc;
        }

/* Media Query para móviles pequeños (320px x 704px) */
@media (max-width: 430px) {
        
    /* 1. Ajustes de Base */
    body {
        margin: 5px; /* Reducimos margen externo al mínimo */
        font-size: 14px; /* Bajamos un poco la fuente general */
        position: center;
    }

    header {
        padding: 20px 0; /* Header mucho más delgado */
    }

    /* 2. Navegación (Navbar) */
        .navbar {
            flex-direction: column; /* Links uno debajo del otro */
            align-items: center;
            gap: 5px;
            padding: 0.5em;
            position: static; /* En 704px de alto, el sticky quita mucho espacio */
        }

        .navbar a {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0.3em;
            width: 100%; /* Botones de ancho completo para facilitar el clic */
        }

        /* 3. Contenedores Flex (Forzar columna única) */
        
        
        .footer-top,
        .footer-bottom {
            display: flex;
            flex-direction: column; /* Todo en vertical */
            align-items: center;
            text-align: center;
            padding: 15px; /* Menos relleno */
            gap: 15px;
            margin: 10px 0;
            display: flex;              /* Activa Flexbox */
            flex-wrap: wrap;
        }

         .flex-container{
            
            display: flex;
            justify-content: space-around;
            justify-items: center;
            background-color: rgb(6, 6, 6);
            border-radius: 35px;
        }

        .flex-container2{
            
            display: flex;
            justify-content: space-between;
            justify-items: center;
            background-color: rgb(6, 6, 6);
            border-radius: 35px;

        }
        .flex-container3 {
            
            display: flex;              /* Activa Flexbox */
            justify-content: space-around; /* Espacio entre columnas */
            align-items: center;    /* Alinea las columnas al inicio */  
            padding: 5px;
            gap: 2px;
            border-radius: 35px;
        }
    
        .columna{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            padding: 5px;
            margin-top: 5px;
            margin: 2px;
            background-color: rgb(64, 60, 60);
            border-radius: 15px;
        }
        .fondocolumna {

            background-color: rgb(0, 0, 0);
            border-radius: 15px;
            padding: 10px;
            margin-top: 2px;

        }

        /* 5. Imágenes y Títulos */
        .imagen1
        {
            width: 80%; /* Que ocupe todo el ancho del contenedor */
            height: auto; /* Mantener proporción */
        } 

        .imgmodelo {
            width: 80px;
            height: 70px;
        }
        .item1{
            background-color: rgb(255, 255, 255);
            padding: 5px;
            border-radius: 15px;
    
        }
        .item2 {
            
            background-color: rgb(255, 255, 255);
            padding: 2px;
            border-radius: 5px;
            }

        h1 {
            font-size: 70%; /* Título más pequeño para que no se corte */
            padding: 1px;
        }

        h2 {
            font-size: 70%;
        }

        p{
            font-size: 70%;
        }

        .main-footer {
        background-color: #0a0a0a;
        color: #ffffff;
        padding: 10px 8%;
        border-radius: 2px;
        }

        /* --- SECCIÓN SUPERIOR --- */
        .footer-top {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        gap: 5px;
        }

        .footer-col {
        flex: 1; /* Todas las columnas crecen igual */
        min-width: 10px;
        }

        .footer-col h3 {
        color: #7e7b7b;
        margin-bottom: 5px;
        font-size: .7rem;
        }

        .footer-col p {
        line-height: 1.6;
        color: #ccc;
        font-size: 0.4rem;
        }

        .footer-col ul {
        list-style: none;
        padding: 0;
        font-size: 0.4rem;
        }

        .footer-col ul li {
        margin-bottom: 5px;
        }

        .footer-col ul li a {
        color: #ccc;
        text-decoration: none;
        font-size: 0.4rem;
        }

        /* Newsletter */
        .LEONS-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        }

        .LEONS-form input {
        padding: 12px;
        border-radius: 4px;
        border: none;
        }

        .LEONS-form button {
        background-color: #545353;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        }

        .social-icons {
        display: flex;
        gap: 5px;
        margin-top: 2px;
        justify-content: center;
        }

        /* --- SECCIÓN INFERIOR --- */
        .footer-divider {
        border: 0;
        border-top: 1px solid #222;
        border-radius: 5px;
        margin: 5px 0;
        }

        .footer-bottom {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5px;
        }

        .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        }

        .contact-item .icon {
        font-size: .7rem;
        }

        .contact-item p {
        margin: 0;
        font-size: 0.4rem;
        color: #ccc;
        }
    }


@media (max-width: 380px) {
        
    /* 1. Ajustes de Base */
    body {
        margin: 5px; /* Reducimos margen externo al mínimo */
        font-size: 14px; /* Bajamos un poco la fuente general */
        position: center;
    }

    header {
        padding: 20px 0; /* Header mucho más delgado */
    }

    /* 2. Navegación (Navbar) */
        .navbar {
            flex-direction: column; /* Links uno debajo del otro */
            align-items: center;
            gap: 5px;
            padding: 0.5em;
            position: static; /* En 704px de alto, el sticky quita mucho espacio */
        }

        .navbar a {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0.3em;
            width: 100%; /* Botones de ancho completo para facilitar el clic */
        }

        /* 3. Contenedores Flex (Forzar columna única) */

         .flex-container{
            
            display: flex;
            justify-content: space-around;
            justify-items: center;
            background-color: rgb(6, 6, 6);
            border-radius: 35px;
        }

        .flex-container2{
            
            display: flex;
            justify-content: space-between;
            justify-items: center;
            background-color: rgb(6, 6, 6);
            border-radius: 35px;

        }
        .flex-container3 {
            
            display: flex;              /* Activa Flexbox */
            justify-content: space-around; /* Espacio entre columnas */
            align-items: center;    /* Alinea las columnas al inicio */  
            padding: 10px;
            border-radius: 35px;
        }
    
        .columna{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            padding: 10px;
            margin-top: 5px;
            margin: 5px;
            background-color: rgb(64, 60, 60);
            border-radius: 15px;
        }
        .fondocolumna {

            background-color: rgb(0, 0, 0);
            border-radius: 15px;
            padding: 5px;
            margin-top: 5px;

        }

        /* 5. Imágenes y Títulos */
        .imagen1
        {
            width: 80%; /* Que ocupe todo el ancho del contenedor */
            height: auto; /* Mantener proporción */
        } 

        .imgmodelo {
            width: 60px;
            height: 70px;
        }
        .item1{
            
            justify-content: space-around; 
            background-color: rgb(255, 255, 255);
            padding: 5px;
            border-radius: 15px;
            margin: 10px;

        }
        .item2 {
            
            background-color: rgb(255, 255, 255);
            padding: 2px;
            border-radius: 5px;
            }

        h1 {
            font-size: 70%; /* Título más pequeño para que no se corte */
            padding: 1px;
        }

        h2 {
            font-size: 70%;
            
        }
        p{
            font-size: 50%;
        }

        .main-footer {
        background-color: #0a0a0a;
        color: #ffffff;
        padding: 10px 8%;
        border-radius: 2px;
        }

        /* --- SECCIÓN SUPERIOR --- */
        .footer-top {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        gap: 5px;
        }

        .footer-col {
        flex: 1; /* Todas las columnas crecen igual */
        min-width: 10px;
        }

        .footer-col h3 {
        color: #7e7b7b;
        margin-bottom: 5px;
        font-size: .7rem;
        }

        .footer-col p {
        line-height: 1.6;
        color: #ccc;
        font-size: 0.4rem;
        }

        .footer-col ul {
        list-style: none;
        padding: 0;
        font-size: 0.4rem;
        }

        .footer-col ul li {
        margin-bottom: 5px;
        }

        .footer-col ul li a {
        color: #ccc;
        text-decoration: none;
        font-size: 0.4rem;
        }

        /* Newsletter */
        .LEONS-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        }

        .LEONS-form input {
        padding: 12px;
        border-radius: 4px;
        border: none;
        }

        .LEONS-form button {
        background-color: #545353;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        }

        .social-icons {
        display: flex;
        gap: 5px;
        margin-top: 2px;
        justify-content: center;
        }

        /* --- SECCIÓN INFERIOR --- */
        .footer-divider {
        border: 0;
        border-top: 1px solid #222;
        border-radius: 5px;
        margin: 5px 0;
        }

        .footer-bottom {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5px;
        }

        .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        }

        .contact-item .icon {
        font-size: .7rem;
        }

        .contact-item p {
        margin: 0;
        font-size: 0.4rem;
        color: #ccc;
        }
    
}     